.green {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 8px 18px;
	background-color: #d6dc82;
	border-radius: 20px;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.green {
		border-radius: 30px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.green {
		border-radius: 30px;
		font-size: 14px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.green {
		border-radius: 30px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 480px) {
	.green {
		padding: 6px 14px;
		border-radius: 30px;
		font-size: 12px;
	}
}
