.user-pets-list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 300px);
	gap: 20px;
	width: 100%;
	padding: 30px;
	justify-items: start;
}

/* @media (max-width: 1024px) {
	.user-pets-list {
		grid-template-columns: repeat(2, 1fr);
	}
} */

@media (max-width: 768px) {
	.user-pets-list {
		grid-template-columns: 250px;
		padding: 30px 10px;
	}
}
