.profile-menu {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 7px 17px;
	gap: 7px;
	border-radius: 20px 0 20px 20px;
	background-color: #d96073;

	&:hover {
		border: 2px solid #b95060;
	}
}

.burgerMenu {
	display: none;
	cursor: pointer;
}

.burgerLine {
	width: 22px;
	height: 2.5px;
	background-color: #333;
	margin: 4px 0;
}

@media only screen and (min-width: 1701px) {
	.login {
		font-size: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.login {
		padding: 5px 14px;
		gap: 7px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.login {
		padding: 5px 12px;
		gap: 7px;
	}

	.burgerMenu {
		display: block;
	}
}

@media only screen and (max-width: 480px) {
	.login {
		font-size: 12px;
		padding: 3px 10px;
		gap: 7px;
	}

	.login img {
		width: 10px;
	}

	.burgerMenu {
		display: block;
	}
}
