.servicesList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 20px;
	width: 100%;
	padding: 30px;
	justify-items: start;
}

@media (max-width: 1024px) {
	.servicesList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.servicesList {
		grid-template-columns: 1fr;
		padding: 30px 10px;
	}
}
