@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.roboto {
	font-family: 'Roboto', serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.russo-one-regular {
	font-family: 'Russo One', serif;
	font-weight: 400;
	font-style: normal;
}

:root {
	--accent-color-hue: 236;
	--accent-color-saturation: 100%;
	--disabled-color: #cfcfcf;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff9f5;
	font-family: 'Roboto', serif;
	color: #262628;
	font-size: 16px;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	color: #262628;
	text-decoration: none;
}

hr {
	height: 0;
	border: none;
	border-top: 1.5px solid #262628;
}

h1,
h2,
h3,
h4 {
	font-family: 'Russo One', serif;
}
